# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.python-version

# Tests & coverage
.pytest_cache/
.coverage
htmlcov/

# Data (ne JAMAIS versionner les données brutes)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.key